{% set selectStore = [] %}
{% for i in 1..6 %}
  {% set selectStore = selectStore|merge([i]) %}
{% endfor %}

{% set cardsSelect = pimcore_select('cards', { store: selectStore, reload: true, width: 70, class: 'align-middle' }) %}

{% if editmode %}
  <div class="alert alert-secondary col-xs-12" style="height: 75px;">
    <div class="col-xs-6 d-inline mx-auto">
      <span class="editmode-label align-middle">How many cards do you want to show?</span>
      {{ cardsSelect|raw }}
    </div>
  </div>
{% endif %}

{% set id = 'cards-carousel-' ~ uniqid() %}
{% set cards = cardsSelect.getData()|default(1) %}

<div class="row">
  {% for i in 0..cards - 1 %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        {% if editmode %}
          {{ pimcore_image('card_image_' ~ i, { thumbnail: 'productCard', hideText: true, dropClass: id ~ '-' ~ i }) }}

          <div class="card-body">
            <h5 class="card-title">{{ pimcore_input('card_title_' ~ i, { width: 130 }) }}</h5>
            <p class="card-text">{{ pimcore_input('card_text_' ~ i, { width: 130 }) }}</p>
            <p class="card-text">
              <strong>${{ pimcore_input('card_price_' ~ i, { width: 130 }) }}</strong>
            </p>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-primary">Buy Now</button>
            </div>

            <p>Add a link for this product: {{ pimcore_link('card_link' ~ i, { class: 'btn btn-primary' }) }}</p>
          </div>
        {% else %}
          {% set thumbnail = pimcore_image('card_image_' ~ i).getThumbnail('productCard') %}
          <a href="{{ pimcore_link('card_link' ~ i).getHref() }}"><img src="{{ thumbnail }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" alt="" class="card-img-top" /></a>

          <div class="card-body">
            <h5 class="card-title">{{ pimcore_input('card_title_' ~ i).getData() }}</h5>
            <p class="card-text">{{ pimcore_input('card_text_' ~ i).getData() }}</p>
            <p class="card-text">
              <strong>${{ pimcore_input('card_price_' ~ i).getData() }}</strong>
            </p>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
