{% set selectStore = [] %}
{% for i in 2..6 %}
  {% set selectStore = selectStore|merge([i]) %}
{% endfor %}

{% set slidesSelect = pimcore_select('slides', { store: selectStore, reload: true, width: 70, class: 'align-middle' }) %}

{% if editmode %}
  <div class="alert alert-secondary col-xs-12" style="height: 75px;">
    <div class="col-xs-6 d-inline mx-auto">
      <span class="editmode-label align-middle">How many images do you want to show?</span>
      {{ slidesSelect|raw }}
    </div>
  </div>
{% endif %}

{% set id = 'gallery-carousel-' ~ uniqid() %}
{% set slides = slidesSelect.getData()|default(2) %}

<div id="{{ id }}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for i in 0..slides - 1 %}
      <button type="button" data-bs-target="#{{ id }}" data-bs-slide-to="{{ i }}" class="{{ loop.first ? 'active' : '' }}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for i in 0..slides - 1 %}
      <div class="carousel-item {{ id ~ '-' ~ i }} {{ loop.first ? 'active' : '' }}">
        {% if editmode %}
          {{ pimcore_image('image_' ~ i, { thumbnail: 'galleryCarousel', hideText: true, dropClass: id ~ '-' ~ i }) }}

          <div class="container">
            <div class="carousel-caption">
              {{ pimcore_select('text_location_' ~ i, { store: [['text-center', 'Text Center'], ['text-start', 'Text Start'], ['text-end', 'Text End']], defaultValue: 'text-center' }) }}
              <h5>{{ pimcore_input('carousel_heading_' ~ i, { width: 340 }) }}</h5>
              <p>{{ pimcore_input('carousel_short_desc_' ~ i, { width: 340 }) }}</p>
              <p>{{ pimcore_link('carousel_product_link' ~ i, { class: 'btn btn-primary' }) }}</p>
            </div>
          </div>
        {% else %}
          {% set thumbnail = pimcore_image('image_' ~ i).getThumbnail('galleryCarousel') %}
          <img src="{{ thumbnail }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" alt="" class="d-block w-100" />

          <div class="container">
            <div class="carousel-caption {{ pimcore_select('text_location_' ~ i).getData() }}">
              <h5>{{ pimcore_input('carousel_heading_' ~ i).getData() }}</h5>
              <p>{{ pimcore_input('carousel_short_desc_' ~ i).getData() }}</p>
              <p>{{ pimcore_link('carousel_product_link' ~ i, { class: 'btn btn-primary' }) }}</p>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
