{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container my-5 bg-white shadow p-3 rounded">
		<table class="table table-dark table-striped">
			<caption>Product Information</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Product Name</th>
					<th scope="col">Product Description</th>
					<th scope="col">Stock Availability</th>
					<th scope="col">Size</th>
					<th scope="col">Categories</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">{{id}}</th>
					<td>{{name}}</td>
					<td>{{description}}</td>
					<td>{{stockAvailability ? 'Yes' : 'No'}}</td>
					<td>{{size}}</td>
					<td>
						{% for category in categories %}
							{{category.name}}{{ not loop.last ? ', ' }}
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
