<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ subject }}</title>
	</head>
	<body>
		<h1>{{ subject }}</h1>
		<h3>{{from}}</h3>
		<h3>{{to}}</h3>
		<p>{{message}}</p>
	</body>
</html>
